- name: Deploy to Pinata IPFS
  uses: aquiladev/ipfs-action@v1
  if: ${{ secrets.PINATA_API_KEY != '' && secrets.PINATA_SECRET_KEY != '' }}
  with:
    path: ./dist
    service: pinata
    pinataKey: ${{ secrets.PINATA_API_KEY }}
    pinataSecret: ${{ secrets.PINATA_SECRET_KEY }}
    
- name: Display IPFS Hash
  if: ${{ secrets.PINATA_API_KEY != '' && secrets.PINATA_SECRET_KEY != '' }}
  run: |
    echo "IPFS Hash: ${{ steps.deploy.outputs.hash }}"
    echo "Gateway: https://gateway.pinata.cloud/ipfs/${{ steps.deploy.outputs.hash }}"
